{% extends 'base.html.twig' %}

{% block title %}Solde{% endblock %}

{% block body %}
    <h1>Solde</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ solde.id }}</td>
            </tr>
            <tr>
                <th>Positif</th>
                <td>{{ solde.positif }}</td>
            </tr>
            <tr>
                <th>Negatif</th>
                <td>{{ solde.negatif }}</td>
            </tr>
            <tr>
                <th>Solde</th>
                <td>{{ solde.solde }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('solde_index') }}">back to list</a>

    <a href="{{ path('solde_edit', {'id': solde.id}) }}">edit</a>

    {{ include('solde/_delete_form.html.twig') }}
{% endblock %}
