{#Etablissement bancaire #}

{# {% include "banque/ongletBanque/decoupeOngletB/etabEtabliB.html.twig" %} #}


<div class="col-12" id="block">
    <div class="card padCard bg-dark bordureBlancheNArrondiOK" id="cardBlock">
        <div class="card-header textCenter">
            <h3>{{ "Administration des établissements banquaires" |capitalize}}</h3>
        </div>
        <div class="card-body">
            <div>
                <h4 class="center">Les adresses bancaires </h4>
                <div class="row-fluid mt-4">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <div class="">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>N° de voie</th>
                                            <th>Voie</th>
                                            <th>Code Postal</th>
                                            <th>Ville</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {{ dump(adressebanques)}}
                                        {% for adressb in adressebanques %}

                                        <tr>
                                            <td>{{ adressb.numVoie }}</td>
                                            <td>{{ adressb.voie  }}</td>
                                            <td>{{ adressb.cp }}</td>
                                            <td>{{ adressb.ville  }}</td>
                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>