{% extends 'base.html.twig' %}

{% block title %}Chequier index{% endblock %}

{% block body %}
    <h1>Chequier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Chequier</th>
                <th>DateChequier</th>
                <th>DebutNum</th>
                <th>FinNum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chequier in chequiers %}
            <tr>
                <td>{{ chequier.id }}</td>
                <td>{{ chequier.chequier }}</td>
                <td>{{ chequier.dateChequier ? chequier.dateChequier|date('Y-m-d') : '' }}</td>
                <td>{{ chequier.debutNum }}</td>
                <td>{{ chequier.finNum }}</td>
                <td>
                    <a href="{{ path('chequier_show', {'id': chequier.id}) }}">show</a>
                    <a href="{{ path('chequier_edit', {'id': chequier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chequier_new') }}">Create new</a>
{% endblock %}
