{# Menu de l'application #}

{# {% include "menu/sidemenu/smCredit.html.twig" %} #}

<div class="card border-dark bg-black nav nav-pills nav-stacked" id="cadreMenu" style="">
    <h5 class="card-header bg-dark text-light"id="cadreMenuTitre"><span class=""></span>Crédit</h5>
    <a class="list-group-item" {#href="{{ path('') }}"#}><span class=""></span> TOTO </a>
    <a class="list-group-item" {#href="{{ path('') }}"#}><span class=""></span> TOTO </a>
    <a class="list-group-item" {#href="{{ path('') }}"#}><span class=""></span> TOTO </a>
    <a class="list-group-item" {#href="{{ path('') }}"#}><span class=""></span> TOTO </a>
    <a class="list-group-item" {#href="{{ path('') }}"#}><span class=""></span> TOTO </a>
    <a class="list-group-item" {#href="{{ path('') }}"#}><span class=""></span> TOTO </a>
    <a class="list-group-item" {#href="{{ path('') }}"#}><span class=""></span> TOTO </a>
    <a class="list-group-item" {#href="{{ path('') }}"#}><span class=""></span> TOTO </a>
</div>