{% extends 'base.html.twig' %}

{% block title %}Banque{% endblock %}

{% block body %}
    <h1>Banque</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ banque.id }}</td>
            </tr>
            <tr>
                <th>Etablissement</th>
                <td>{{ banque.etablissement }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ banque.logo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('banque_index') }}">back to list</a>

    <a href="{{ path('banque_edit', {'id': banque.id}) }}">edit</a>

    {{ include('banque/_delete_form.html.twig') }}
{% endblock %}
