{% extends 'base.html.twig' %}

{% block title %}AdresseClient{% endblock %}

{% block body %}
    <h1>AdresseClient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresse_client.id }}</td>
            </tr>
            <tr>
                <th>NumVoie</th>
                <td>{{ adresse_client.numVoie }}</td>
            </tr>
            <tr>
                <th>Voie</th>
                <td>{{ adresse_client.voie }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ adresse_client.cp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adresse_client.ville }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('adresse_client_index') }}">back to list</a>

    <a href="{{ path('adresse_client_edit', {'id': adresse_client.id}) }}">edit</a>

    {{ include('adresse_client/_delete_form.html.twig') }}
{% endblock %}
