{% extends 'base.html.twig' %}

{% block title %}Telephone index{% endblock %}

{% block body %}
    <h1>Telephone index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TelephoneDetenteur1</th>
                <th>TelephoneDetenteur2</th>
                <th>TelephonePro1</th>
                <th>TelephonePro2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for telephone in telephones %}
            <tr>
                <td>{{ telephone.id }}</td>
                <td>{{ telephone.telephoneDetenteur1 }}</td>
                <td>{{ telephone.telephoneDetenteur2 }}</td>
                <td>{{ telephone.telephonePro1 }}</td>
                <td>{{ telephone.telephonePro2 }}</td>
                <td>
                    <a href="{{ path('telephone_show', {'id': telephone.id}) }}">show</a>
                    <a href="{{ path('telephone_edit', {'id': telephone.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('telephone_new') }}">Create new</a>
{% endblock %}
