{% extends 'base.html.twig' %}

{% block title %}
	User index
{% endblock %}

{% block main %}

	<div class="card " style="margin: auto; margin-top: 70px;">
		<div class="card-header text-center">
			<h3>Authorisation de connexion</h3>
		</div>

		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Username</th>
						<th>Roles</th>
						<th>Password</th>
						<th>Name</th>
						<th>Surname</th>
						<th>Email</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.username }}</td>
							<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
							<td>{{ user.password }}</td>
							<td>{{ user.name }}</td>
							<td>{{ user.surname }}</td>
							<td>{{ user.email }}</td>
							<td>
								<a href="{{ path('user_show', {'id': user.id}) }}">show</a>
								<a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td class="text-center" colspan="8" style="">no records found</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
			<button class="btn btn-success mt-4 float-md-right">
				<a class="white" href="{{ path('user_new') }}">
					Nouvel utilisateur
				</a>
			</button>
		</div>
	</div>


{% endblock %}
